__pycache__/
.lab/
.local/
/hw/releases/
senseshake-lab-image.tar
*.pyc
*.log
hw/tools/bootstrap/
hw/tools/*.jar
freerouting.json
*.lck
*.kicad_prl
logs/
.venv*/
.ato/
build/
hw/tests/standalone_*/
hw/layout/*/*-backups/
*.kicad_pcb-bak
